#demo {
    border: 1px solid #000000;
    width: 100%;
}

#debug-log {
    position: fixed;
    top: 60px;
    left: 800px;
    overflow: scroll;
    width: 550px;
    height: 500px;
}

#clear-demo {
    position: fixed;
    top: 20px;
    left: 600px;
    padding: 10px;
    border: 1px solid blue;
    background-color: lightgray;
}

#clear-log {
    position: fixed;
    top: 20px;
    left: 800px;
    padding: 10px;
    border: 1px solid blue;
    background-color: lightgray;
}

