/node_modules/*
!/node_modules/bind-expression
!/node_modules/peasy
!/node_modules/tiiji
!/node_modules/tjutil
!/node_modules/tj-operator
!/node_modules/node-net
!/node_modules/job-flow
!/node_modules/task-flow
node_modules/*/node_modules

bower_components

dist
dev
app
lib
build

public
/public/angular1.2.0rc3

before-dc

.tmp
temp
temp.*
.sass-cache
.DS_Store
.sass-cache
db

webpack.config.js
*-.js
*-.coffee
*.log
